# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# macOS
.DS_Store

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# VSCode settings (opcional)
.vscode/

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*

# IDE files
.idea/